@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$ingredientsColor: #3282F7;
$appliancesColor: #68D9A4;
$ustensilsColor: #ED6454;

body {
  font-family: 'Lato', sans-serif;
  // background-color: rgb(213, 208, 209);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  // padding: 45px 32px 0px;
  // border: 1px dashed red;
}

.header-logo {

  width: 268px;
  align-self: center;
}

.header-search-input {
  position: relative;
  
  .search-input {
    // max-width: 1100px;
    // width: 950px;
    width: calc(100% - 80px);
    margin: 17px 0px 25px 0px;
    padding: 16px;
    padding-right: 64px;
    border: none;
    border-radius: 4px;
    background-color: #E7E7E7;
  }
  
  .search-icon {
    position: absolute;
    right: 32px;
    width: 28px;
    height: 28px;
    top: 45%;
    transform: translate(50%, -50%);
  }
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  .selected-tag {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #C7BEBE;
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    &.ingredient {
      background-color: $ingredientsColor;
    }
    &.appliance {
      background-color: $appliancesColor;
    }
    &.ustensil {
      background-color: $ustensilsColor;
    }
    p {
      margin: 0;
      color: white;
    }
    img {
      cursor: pointer;
    }
  }
}
  

.tags-container {
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  .tag {
    //width: 100%;
    // width: 667px;
    height: max-content;
    border-radius: 5px;
    background-color: #E7E7E7;
    .tag-input-container {
      position: relative;
      input {
        &::placeholder {
          color: white;
          opacity: 1;
        }
        padding-left: 16px;
        width: calc(100% - 56px);
        height: 69px;
        background-color: transparent;
        border: none;
      }
      img {
        position: absolute;
        right: 12px;
        top: 45%;
        transition: transform .6s;
        cursor: pointer;
      }
    }

    .tag-list {
      position: absolute;
      margin: 0;
      padding: 16px;
      padding-top: 0;
      grid-template-columns: repeat(3, 1fr);
      display: none;
      overflow: hidden;
      
      .tag-list-item {
        color: white;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        list-style: none;
        cursor: pointer;
        overflow: hidden;
      }

    }
    &.tag-open {
      border-radius: 5px 5px 0 0;
      width: calc(792px + 32px) !important;
      .tag-input-container {
        img {
          transition: transform .6s;
          transform: rotate(180deg);
        }
      }
      .tag-list {
        width: 63%;
        display: grid !important;
      }
    }
  }
  .tag-ingredients {
    background-color: $ingredientsColor;
    .tag-list {
      width: 792px;
      background-color: $ingredientsColor;
      top: 100%;
    }
  }

  .tag-appliances {
    background-color: $appliancesColor;
    .tag-list {
      width: 792px;
      background-color: $appliancesColor;
      top: 100%;
    }
  }

  .tag-ustensils {    
    background-color: $ustensilsColor;
    .tag-list {
      width: 792px;
      background-color: $ustensilsColor;
      top: 100%;
    }
  }
}

.cards-container {
  margin-top: 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  .card {
    width: 380px;
    height: 364px;
    border-radius: 5px;
    background-color: #E7E7E7;
    border-radius: 0px 0px 5px 5px;
    .card-header {
      background-color: #C7BEBE;
      height: 178px;
      border-radius: 5px 5px 0px 0px;

    }
    .card-body {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, auto);
      align-items: flex-start;
      padding: 20px;
      row-gap: 20px;

      .card-title {
        h3 {
          margin: 0;
          font-size: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .card-duration {
        display: flex;
        justify-self: flex-end;
        img {
          margin-right: 7px;
          width: 18px;
        }
        p {
          margin: 0;
          font-size: 18px;
          font-weight: 700;
        }
      }
      .card-ingredients {
        .card-ingredients-list {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          .card-ingredient {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .card-ingredient-name {
              font-weight: 700;
            }
          }
        }
      }
      .card-description {
        word-wrap: break-word;
        overflow: hidden;
        max-height: 96px;
        text-overflow: ellipsis;
        p {
          margin: 0;
            font-size: 12px;
        }
      }
    }

  }
}

.recipes-errors {
  color: rgba(0, 0, 0, 0.43);
  font-size: 42px;
  display:none;
}

.not-found {
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// /*  Responsive  1150px  */
@media screen and (max-width: 1150px) {
  .header-search-input {
     margin: 0 30px;
  } 
  .tags-container {
         margin: 0 30px;
         display:grid;
         gap: 20px;
  }
  .tag-input-container {
         width: 100%;
  }
  .cards-container.container { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  }
  .recipes-errors {
    font-size: 1.2em;
    margin: 20px 18px 20px;
  }
}

input {
  outline:none;
}

#tagListInputIngredients,
#tagListInputAppliances,
#tagListInputUstensils {
color:white;
}
